.button {
  background-color: $blue;
  border: none;
  color:white; 
  display: inline-block;
  font-size: $font-size-large;
  font-weight:300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button--login {
  background: #fff;  
  color: #212121;
  
  box-shadow: 1px 2px 4px lighten(black, .5);
  >.fab {
    margin-right:.6rem;
  }
}

.button--login--green {
  @extend .button--login;
  background: $accent;  
  color: #ffffff;
  font-weight: 300;
  padding: $m-size $l-size; 
}

.button--circle {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
  width:4.8rem;
  height:4.8rem;
  transition: .2s all;  
  &:hover{
    transform: scale(1.3);
  }
}

.button__add-repo {
  position: absolute;
  right: $m-size;
  background-color:$accent;
  bottom: -5.2rem;
  outline: none;
}