.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background:#3F51B5;
  border: 1px solid #3F51B5;
}


.CalendarDay__selected_span {
    background: #C5CAE9;
    border: 1px solid #3F51B5;
    color: #fff;
}