.filters {
  display: flex;
  align-items: center;
  >*{
    margin-right:$s-size;
    padding: $s-size 0;
  }
  .dropdown--tag-selector > .dropdown-toggle {
    font-size: 1.9rem;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    padding: .95rem;
  }
}