.page-header {
  background: $off-white;
  margin-bottom: $l-size;
  padding: $l-size 0;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  margin: 0;
}

.page-header__subtitle {
  margin: 1rem 0 $l-size 0;
  font-weight: 300;
  color: #757575;

}

